lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/upload
coverage
.idea
.vscode
settings.json
users.json
package-lock.json
config.json
custom.json
